<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>cart</display-name>
    <servlet-name>cart</servlet-name>
    <servlet-class>net.cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartBean</display-name>
    <servlet-name>CartBean</servlet-name>
    <servlet-class>net.cart.CartBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartBean</servlet-name>
    <url-pattern>/CartBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartController</display-name>
    <servlet-name>CartController</servlet-name>
    <servlet-class>net.controller.CartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/CartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewDatabase</display-name>
    <servlet-name>NewDatabase</servlet-name>
    <servlet-class>net.model.NewDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewDatabase</servlet-name>
    <url-pattern>/NewDatabase</url-pattern>
  </servlet-mapping>
</web-app>